---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.namespace }}
spec:
  baseDomain: {{ cluster.baseDomain }}
  clusterName: {{ cluster.name }}
  installAttemptsLimit: 1
  platform:
{% if cloud.provider == 'Google' %}
    gcp:
{% elif cloud.provider == 'Azure' %}
    azure:
      baseDomainResourceGroupName: {{ cloudConfig.azure.baseDomainResourceGroupName }}
      cloudName: {{ cloudConfig.azure.cloudName | default('AzurePublicCloud')}}
{% else %}
    aws:
{% endif %}
      region: {{ cloud.region }}
      credentialsSecretRef:
        name: {{ cluster.name }}-{{ cloud.provider |lower }}-credentials
  provisioning:
    installConfigSecretRef:
      name: {{ cluster.name }}-install-config
    imageSetRef:
      name: {{ cluster.version }}
  pullSecretRef:
    name: {{ cluster.name }}-pull-secret
