  apiVersion: v1
  baseDomain: {{ cluster.baseDomain }}
  compute:
  - name: worker
    replicas: {{ cluster.workers.replicas }}
  controlPlane:
    name: master
    replicas: {{ cluster.controlPlane.replicas }}
  metadata:
    name: {{ cluster.name }}
  networking:
    clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
    networkType: OVNKubernetes
    serviceNetwork:
    - 172.30.0.0/16
  platform:
    aws:
      region: {{ cluster.region }}
  publish: External
  pullSecret: '{"auths": ...}'
  sshKey: |
    {{ lookup('file', '~/.ssh/id_bastion.pub') }}
