  apiVersion: v1
  baseDomain: {{ cluster.baseDomain }}
  compute:
  - name: worker
    replicas: {{ cluster.workers.replicas }}
    platform:
{% if cluster.cloud.provider == 'Azure' %}
      azure:
        osDisk:
          diskSizeGB: {{ cluster.workers.disk.size }}
        type: {{ cluster.workers.machineType }}
{% elif cluster.cloud.provider == 'Google' %}
      gcp:
        type: {{ cluster.workers.machineType }}
{% else %}
      aws:
        rootVolume:
          iops: {{ cluster.workers.disk.iops }}
          size: {{ cluster.workers.disk.size }}
          type: {{ cluster.workers.disk.type | default('gp3') }}
      type: {{ cluster.workers.machineType }}
{% endif %}
  controlPlane:
    name: master
    replicas: {{ cluster.controlPlane.replicas }}
    platform:
{% if cluster.cloud.provider == 'Azure' %}
      azure:
        osDisk:
          diskSizeGB: {{ cluster.controlPlane.disk.size }}
        type: {{ cluster.controlPlane.machineType }}
{% elif cluster.cloud.provider == 'Google' %}
      gcp:
        type: {{ cluster.controlPlane.machineType }}
{% else %}
      aws:
        rootVolume:
          iops: {{ cluster.controlPlane.disk.iops }}
          size: {{ cluster.controlPlane.disk.size }}
          type: {{ cluster.controlPlane.disk.type | default('gp3') }}
      type: {{ cluster.controlPlane.machineType }}
{% endif %}
  metadata:
    name: {{ cluster.name }}
  networking:
    clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
    networkType: OVNKubernetes
    serviceNetwork:
    - 172.30.0.0/16
  platform:
{% if cluster.cloud.provider == 'Google' %}
    gcp:
      projectID: {{ gcp.projectID }}
      region: {{ cluster.region }}
{% elif cluster.cloud.provider == 'Azure' %}
    azure:
      cloudName: {{ azure.cloudName | default('AzurePublicCloud')}}
      baseDomainResourceGroupName: {{ azure.baseDomainResourceGroupName }}
      region: {{ cluster.region }}
{% else %}
    aws:
      region: {{ cluster.region }}
{% endif %}
  publish: External
  pullSecret: '{"auths": ...}'
  sshKey: |
    {{ lookup('file', '~/.ssh/id_bastion.pub') }}
