apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ cluster.name }}
  namespace: {{ cluster.namespace }}
spec:
  clusterName: {{ cluster.name }}
  clusterNamespace: {{ cluster.namespace }}
  clusterLabels:
    cloud: {{ cluster.cloud.provider }}
    vendor: OpenShift
    clusterGroup: {{ cluster.clusterGroup }}
    cluster.open-cluster-management.io/clusterset: default
  applicationManager:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true
  certPolicyController:
    enabled: true
