---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ cluster.name }}-worker
  namespace: {{ cluster.name }}
spec:
  clusterDeploymentRef:
    name: {{ cluster.name }}
  name: worker
  platform:
    aws:
      rootVolume:
        iops: {{ cluster.workers.disk.iops }}
        size: {{ cluster.workers.disk.size }}
        type: {{ cluster.workers.disk.type }}
      type: {{ cluster.workers.machineType }}
  replicas: {{ cluster.workers.replicas }}

