---
apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster.name }}-pull-secret
  namespace: {{ cluster.namespace }}
data:
  .dockerconfigjson: {{ lookup('file','~/.pullsecret.json') | base64 }}
type: kubernetes.io/dockerconfigjson
