---
apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster.name }}-pull-secret
  namespace: {{ cluster.namespace }}
data:
  .dockerconfigjson: {{ cluster.pullSecret }}
type: kubernetes.io/dockerconfigjson
